
<!DOCTYPE html>
@model StronglyTypedViewsExample.Models.Employee
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h3 style="color:crimson">@ViewData["Header"]</h3>
    <table>
        <tr>
            <td>Employee ID:</td>
            <td>@Model.empId</td>
        </tr>
        <tr>
            <td>Employee Name:</td>
            <td>@Model.empName</td>
        </tr>
        <tr>
            <td>Department:</td>
            <td>@Model.Department</td>
        </tr>
        <tr>
            <td>Employee Age:</td>
            <td>@Model.age</td>
        </tr>
        <tr>
            <td>Employee Gender:</td>
            <td>@Model.Gender</td>
        </tr>
    </table>
</body>
</html>
